<!-- displays all favourite urls -->
<!-- button to delete urls from favs -->

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Clippings</h2>

      <p>
        Note: Unstarring is equivalent to binning a clipping.
      </p>

      <h3>This session</h3>

      <% for (var i = 0; i < data.length; i++) { %>
        <div class="col-sm-12">
          <div class="input-group">
            <input id="link-<%= i %>" type="text" class="form-control" value="<%= data[i].dataValues.url %>" onclick="this.select();">
            <span class="input-group-btn">
              <button class="btn btn-default clipboard" type="button" data-clipboard-target="#link-<%= i %>">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
              </button>
              <a class="btn btn-default" href="<%= data[i].dataValues.url %>" target="_blank">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              </a>
              <button class="btn btn-default starred update-link" type="button" url="<%= data[i].dataValues.url %>">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
            </span>
          </div><!-- /input-group -->
        </div>
      <% } %>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>Previous sessions</h3>
      <% for (var i = 0; i < data.length; i++) { %>
        <div class="col-sm-12">
          <div class="input-group">
            <input id="link-<%= i %>" type="text" class="form-control" value="<%= data[i].dataValues.url %>" onclick="this.select();">
            <span class="input-group-btn">
              <button class="btn btn-default clipboard" type="button" data-clipboard-target="#link-<%= i %>">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
              </button>
              <a class="btn btn-default" href="<%= data[i].dataValues.url %>" target="_blank">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              </a>
              <button class="btn btn-default starred update-link" type="button" url="<%= data[i].dataValues.url %>">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
            </span>
          </div><!-- /input-group -->
        </div>
      <% } %>

    </div>
  </div>
</div><!-- /container -->

<script>

// intialise clipboard.js, loaded in layout.ejs
// project: https://clipboardjs.com/ - click button to copy text
var clipboard = new Clipboard('.clipboard');

$('.update-link').on('click', function (ev) {
  ev.preventDefault();
  var urlToUpdate = $(this).attr('url');
  var action = '';
  var span = $(this)[0].children[0];

  // check if the link is currently starred (.starred class)
  if ($(this).hasClass('starred')) {
    action = 'delete';
    $(span).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
    $(this).removeClass('starred');
  } else if (!$(this).hasClass('starred')) {
    action = 'create';
    $(span).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
    $(this).addClass('starred');
  }

  // delete url in backend database
  $.ajax({
    type: 'POST',
    url: '/stars/update',
    data: {
      url: urlToUpdate,
      action: action
    }
  });
})

</script>
